@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  border-color: #b5b5b5;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 !important;
}

.searchIcon {
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.phone-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #6c6c6c;
}

.button-group {
  .btn {
    width: 285px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

footer {
  background: #121212;
  padding-block: 104px;
  .container {
    .row {
      .col-4 {
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 171%;
          color: #cfcfcf;
        }

        .list-header {
          color: white;
          font-weight: 600;
          font-size: 16px;
        }

        li {
          a {
            text-decoration: none;
            color: #cfcfcf;
            font-weight: 400;
            font-size: 14px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
